body{
background-color: rgb(124, 18, 18);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size:18;
color: rgb(143, 11, 11);
}

.container {
max-width: 500px;
margin: 40px auto;
background: rgb(242, 193, 147);
padding: 25px;
border-radius: 10px;
    
}
h3 {
text-align: center;
color: rgb(150, 15, 15);
margin-bottom: 20px;
}

#sangue-imagem{
right: 0px;
bottom: 0px;
position: fixed;
height: 190px;
width: 190px;
}

select{
width: 100%;
padding: 8px;
margin-top: 5px;
border: none;
border-radius: 8px;
}

input{
width: 100%;
padding: 8px;
margin-top: 5px;
border: none;
border-radius: 8px;
}

textarea{
width: 100%;
padding: 8px;
margin-top: 5px;
border: none;
border-radius: 8px;
}

button{
width: 100%;
padding: 8px;
margin-top: 5px;
border: 1px solid;
border-color: rgb(129, 24, 24);
background-color: 1px rgb(228, 164, 127);
border-radius: 8px;
}